@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/inter-v20-latin-regular.woff2) format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: url(assets/fonts/inter-v20-latin-600.woff2) format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url(assets/fonts/inter-v20-latin-700.woff2) format("woff2");
}

/* RESET */
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img, picture, video {
  display: block;
  max-width: 100%;
  height: auto;
}

input, button, textarea, select {
  font: inherit;
  color: inherit;
  background: none;
  border-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style-type: none;
}

:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);

    --text-sm: 14px;
    --text-lg: 24px;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--grey-900);
    font-family: "Inter", sans-serif;
}

.card {
    display: flex;
    flex-direction: column;
    width: 382px;
    max-width: 90%;
    padding: 38px;
    gap: 24px;
    align-items: center;
    border-radius: 10px;
    background-color: var(--grey-800);
}

.card__photo {
    width: 5.6rem;
    aspect-ratio: 1 / 1;
    margin-bottom: 12px;
    border-radius: 50px;
    transition: transform 0.3s ease, outline 0.4s ; 
}

.card__photo:hover {
  transform: scale(1.05);
  outline: 3px solid var(--grey-700);
}

.card__header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.card__name {
    font-size: var(--text-lg);
    font-weight: 700;
    color: var(--white);
}

.card__locate {
    font-size: var(--text-sm);
    font-weight: 600;
    color: var(--green);
}

.card__description {
    font-size: var(--text-sm);
    font-weight: 400;
    color: var(--white);
    text-align: center;
}

.card__navigation {
    width: 100%;
}

.card__item {
    width: 100%;
}

.card__socials {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card__link {
    display: inline-block;
    width: 100%;
    background-color: var(--grey-700);
    padding: 14px;
    border: 0;
    border-radius: 7px;
    transition: background-color 0.3s ease, outline 0.3s ease;
    font-size: var(--text-sm);
    font-weight: 700;
    color: var(--white);
    text-align: center;
    text-decoration: none;
}

.card__link:hover, .card__link:focus-visible {
    background-color: var(--green);
    outline: 3px solid var(--grey-700);
    color: var(--grey-800);
}