@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);

    --text-sm: 14px;
    --text-lg: 24px;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--grey-900);
    font-family: "Inter", sans-serif;
}

.card {
    display: flex;
    flex-direction: column;
    width: 382px;
    max-width: 90%;
    padding: 26px;
    align-items: center;
    border-radius: 10px;
    background-color: var(--grey-800);
}

.card > *:not(:last-child) {
    margin-bottom: 24px;
}

.card__photo {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    transition: transform 0.3s ease, outline 0.4s ; 
}

.card__photo:hover {
  transform: scale(1.2);
  outline: 3px solid var(--grey-700);
}

.card__personal-infos {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card__name {
    font-size: var(--text-lg);
    font-weight: 700;
    color: var(--white);
}

.card__locate {
    font-size: var(--text-sm);
    font-weight: 600;
    color: var(--green);
}

.card__description {
    font-size: var(--text-sm);
    font-weight: 400;
    color: var(--white);
}

.card__navigation {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}

.card__btn {
    background-color: var(--grey-700);
    padding: 12px;
    border: 0;
    border-radius: 10px;
    transition: background-color 0.3s ease, outline 0.3s ease ;
    font-size: var(--text-sm);
    font-weight: 700;
    color: var(--white);
    text-align: center;
    text-decoration: none;
}

.card__btn:hover {
    background-color: var(--white);
    outline: 3px solid var(--grey-700);
    color: var(--grey-800);
}